<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.cmpt276_asn3">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMPT276_ASN3"
        >
        <activity
            android:name=".app.HelpActivity"
            android:exported="false"
            android:label="Help"/>
        <activity
            android:name=".app.GamePlayActivity"
            android:exported="false"
            android:label="Game"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CMPT276_ASN3.NoActionBar"
            />
        <activity
            android:name=".app.SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CMPT276_ASN3.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
